.button {
    width: 190px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.4);
    background-color: $orange;

    font-family: $font;
    font-size: 16px;
    font-weight: 900;
    text-align: center;
    color: #000000;
    @include btn_hover ();
    &_main {
        width: 280px;
        height: 60px;
        font-size: 24px;
    }
    &_popup {
        display: block;
        margin: 0 auto;
        margin-top: 15px;
    }
}

.learning_btn {
    margin-top: 4px;
    width: 190px;
    height: 22px;
    border: none;
    border-radius: 10px;
    background-color: #5b5a5a;
    padding: 0 11px;

    font-family: $font;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: normal;
    text-align: center;
    color: $white;
    &:hover {
        transition: 0.3s all;
        background-color: $orange;
        color: #111111;
        cursor: pointer;
    }
    &:active {
        transition: 0.3s all;
        background-color: $orange;
        color: #111111;
        outline: none;
    }
    &:focus {
        transition: 0.3s all;
        background-color: $orange;
        color: #111111;
    }
}